<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search-results">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="create-changa">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="hirings">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
