<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <small>Principal</small>
    </ion-tab-button>
    <ion-tab-button tab="search-results">
      <ion-icon name="search-sharp"></ion-icon>
      <small>Buscar</small>
    </ion-tab-button>
    <ion-tab-button tab="create-changa">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <small>Crear</small>
    </ion-tab-button>
    <ion-tab-button tab="hirings">
      <ion-icon name="people-sharp"></ion-icon>
      <small>Contrataciones</small>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp"></ion-icon>
      <small>Perfil</small>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
