<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Changas Contratadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Changas Contratadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list>
        @for (hiringDetail of hiringsDetails; track hiringDetail.hiringId) {
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              [alt]="hiringDetail.changaTitle"
              [src]="hiringDetail.changaPhotoUrl"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{ hiringDetail.changaTitle }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>{{ hiringDetail.creationDate | date }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        } @empty {
        <ion-item>
          <ion-label>No tienes changas contratadas</ion-label>
        </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
