<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Changas Solicitadas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [scrollable]="true"
      class="ion-padding"
      value="all"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="all">
        <ion-label>Todas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accepted-requester">
        <ion-label>Aceptadas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="awaiting-provider">
        <ion-label>Esperando proveedor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="awaiting-requester">
        <ion-label>Esperando solicitante</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected-requester">
        <ion-label>Rechazadas por solicitante</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected-provider">
        <ion-label>Rechazadas por proveedor</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Changas Solicitadas</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (loaded) {

  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- filtering buttons template -->

  @if(hiringsDetails.length > 0) {
  <ion-card>
    <ion-card-content>
      <ion-list>
        @for (hiringDetail of hiringsDetails; track hiringDetail.id) {
        <ion-item
          button
          [routerLink]="['/request-details', hiringDetail.id]"
          class="ion-no-padding ripple-parent rounded-rectangle"
        >
          <ion-grid>
            <ion-row>
              <ion-thumbnail>
                <img
                  [alt]="hiringDetail.changa_title"
                  [src]="hiringDetail.changa_photo_url"
                />
              </ion-thumbnail>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>{{ hiringDetail.changa_title }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>{{ hiringDetail.creation_date | date }}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <small>#{{ hiringDetail.id }}</small>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-row>
            <app-transaction-status
              [status]="hiringDetail.status"
            ></app-transaction-status>
          </ion-grid>
        </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
  } @else {
  <div class="center-container">
    <p>No hay solicitudes para mostrar</p>
  </div>
  } } @else {
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
