<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Changas Solicitadas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [scrollable]="true"
      class="ion-padding"
      value="all"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="all">
        <ion-label>Todas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accepted-requester">
        <ion-label>Aceptadas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="awaiting-provider">
        <ion-label>Esperando proveedor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="awaiting-requester">
        <ion-label>Esperando solicitante</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected-requester">
        <ion-label>Rechazadas por solicitante</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected-provider">
        <ion-label>Rechazadas por proveedor</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (loaded) {

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if(hiringsDetails.length > 0) {
  <ion-list>
    @for (hiringDetail of hiringsDetails; track hiringDetail.id) {
    <ion-item
      button
      [detail]="true"
      [routerLink]="['/request-details', hiringDetail.id]"
    >
      <ion-thumbnail>
        <img
          [alt]="hiringDetail.changa_title"
          [src]="hiringDetail.changa_photo_url"
        />
      </ion-thumbnail>
      <ion-label class="ion-padding-start">
        <h2>{{ hiringDetail.changa_title }}</h2>
        <p>{{ hiringDetail.creation_date | date }}</p>
        <small>#{{ hiringDetail.id }}</small>
        <br />
        <app-transaction-status
          [status]="hiringDetail.status"
        ></app-transaction-status>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } @else {
  <div class="center-container">
    <p>No hay solicitudes para mostrar</p>
  </div>
  } } @else {
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
