<ion-header [translucent]="true" class="ion-no-border" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (pendingInquiries.length) {
  <ion-list>
    @for (inquiry of pendingInquiries; track inquiry.id) {
    <ion-item
      button
      [routerLink]="['/answer-inquiry', inquiry.id]"
      detail="true"
    >
      <ion-label>
        <strong>Tienes una consulta en una publicacion</strong><br />
        <small>{{inquiry.changa.title}}</small><br />
        <h3>{{ inquiry.question }}</h3>
        <small>{{ inquiry.created_at | date : 'dd/MM/yyyy \'a las\' HH:mm' }}</small>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } 

  @if (unreadAnswers.length) {
  <ion-list>
    @for (answer of unreadAnswers; track answer.id) {
    <ion-item
      button
      [routerLink]="['/answer-inquiry', answer.id]"
      detail="true"
    >
      <ion-label>
        <strong>Respondieron tu consulta</strong><br />
        <small>{{answer.changa.title}}</small><br />
        <h3>{{ answer.answer }}</h3>
        <small>{{ answer.created_at | date : 'dd/MM/yyyy \'a las\' HH:mm' }}</small>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  }

  @if (!pendingInquiries.length && !unreadAnswers.length) {
    <div class="center-container">
      <h5>No tienes notificaciones</h5>
    </div>
  }

</ion-content>
