<div class="ion-padding-vertical">
  <ion-input
    [(ngModel)]="location"
    (ionInput)="fetchLocations()"
    [debounce]="1000"
    label="Direccion area de trabajo"
    labelPlacement="floating"
    placeholder="Av. Siempre Viva 123"
    type="text"
    enterkeyhint="search"
    fill="outline"
  ></ion-input>
  <ion-list lines="full">
    @for(match of matches; track $index){
    <ion-item button (click)="selectItem($index)">
      <ion-label
        ><p>{{ match.name }}</p></ion-label
      >
    </ion-item>
    }
  </ion-list>
  <div class="ion-padding-vertical">
    <app-map [latitude]="latitude" [longitude]="longitude"></app-map>
  </div>
</div>
