<ion-popover trigger="popover" dismiss-on-select>
  <ng-template>
    <ion-item button [routerLink]="['/edit-profile']">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>Cerrar sesion</ion-label>
    </ion-item>
  </ng-template>
</ion-popover>

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    @if (isLoggedUser) {
    <ion-buttons slot="end">
      <ion-button id="popover">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
  @if (loaded) {
  <ion-toolbar>
    <div class="ion-padding-start">
      <app-customer-overview [customer]="customer"></app-customer-overview>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="posts" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="posts">
        <ion-label>Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="overview">
        <ion-label>Resumen</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  } @else {
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-header>

<ion-content [fullscreen]="true">
  @if (loaded) { @if (segment === 'posts') {
  <app-customer-posts [customerId]="customer.id"></app-customer-posts>
  } @else {
  <app-customer-summary [customerId]="customer.id"></app-customer-summary>
  } }
</ion-content>
