@if(loaded) {
<ion-card (click)="handleOpenModal()">
  @if(review) {
  <ion-card-content>
    <ion-item class="ion-no-padding">
      <ion-label>
        <ion-card-title>Reseña</ion-card-title>
      </ion-label>
      <app-stars [rating]="rating" [readonly]="true"></app-stars>
    </ion-item>
  </ion-card-content>
  } @else { @if(!readonly) {
  <ion-card-content>
    <app-stars
      [rating]="rating"
      (ratingChange)="handleRatingChange($event)"
    ></app-stars>
  </ion-card-content>
  } }
</ion-card>
} @else {
<ion-card-content>
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-card-content>
}

<!-- create modal -->

<ion-modal
  [isOpen]="showCreateModal"
  (willDismiss)="handleModalDismiss($event)"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.5, 0.75, 1]"
  [backdropDismiss]="true"
  [showBackdrop]="true"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Calificar changa</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
            <ion-list>
              <ion-item>
                <ion-label>
                  <app-stars
                    [rating]="rating"
                    (ratingChange)="handleRatingChange($event)"
                  ></app-stars>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-textarea
                  formControlName="comment"
                  label="Comentario"
                  labelPlacement="floating"
                  placeholder="¡Muy buen servicio!"
                  [autoGrow]="true"
                  [counter]="true"
                  maxlength="200"
                  helpText="Escribe un comentario sobre el trabajo realizado. Maximo 200 caracteres."
                  errorText="Asegurate de usar al menos 10 caracteres."
                ></ion-textarea>
              </ion-item>
              <ion-item>
                <img [src]="reviewForm.get('photo_url')!.value" />
              </ion-item>
              <ion-item>
                <ion-input
                  formControlName="photo_url"
                  type="url"
                  label="URL que contenga la imagen de la reseña"
                  placeholder="https://www.example.com/image.jpg"
                  labelPlacement="floating"
                  helpText="URL de la imagen de la reseña. Puede ser una URL de una imagen en internet."
                  errorText="URL invalida. Asegurate de que sea una URL valida."
                ></ion-input>
              </ion-item>
            </ion-list>
            <ion-button
              shape="round"
              expand="block"
              type="submit"
              [disabled]="!reviewForm.valid"
              >Enviar reseña</ion-button
            >
          </form>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- info modal -->

<ion-modal
  [isOpen]="showInfoModal"
  (willDismiss)="handleModalDismiss($event)"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.5, 0.75, 1]"
  [backdropDismiss]="true"
  [showBackdrop]="true"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detalles de reseña</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <img [src]="review!.photo_url" />
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Calificación</h2>
          </ion-label>
          <app-stars [rating]="review!.rating" [readonly]="true"></app-stars>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Comentario de {{ review!.reviewer.name }}</h2>
            <p>{{ review!.comment }}</p>
          </ion-label>
        </ion-item>
        <!-- item fecha de creacion -->
        <ion-item>
          <ion-label>
            <h2>Fecha de creación</h2>
            <p>{{ review!.created_at | date: 'dd/MM/yyyy' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
