@if(loaded) {
<ion-card (click)="handleOpenModal()">
  @if(review) {
  <ion-card-content>
    <ion-card-title>Reseña</ion-card-title>
    <app-stars [rating]="rating" [readonly]="true" [large]="true"></app-stars>
  </ion-card-content>
  } @else { @if(!readonly) {
  <ion-card-content>
    <ion-card-title>¿Que te parecio el servicio?</ion-card-title>
    <hr />
    <app-stars
      [rating]="rating"
      (ratingChange)="handleRatingChange($event)"
      [large]="true"
    ></app-stars>
  </ion-card-content>
  } }
</ion-card>
} @else {
<ion-card-content>
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-card-content>
}

<ion-modal
  [isOpen]="showCreateModal"
  (willDismiss)="handleModalDismiss($event)"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.5, 0.75, 1]"
  [backdropDismiss]="true"
  [showBackdrop]="true"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Calificar changa</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
            <div class="ion-padding">
              <app-stars
                [rating]="rating"
                [large]="true"
                (ratingChange)="handleRatingChange($event)"
              ></app-stars>
            </div>
            <ion-textarea
              formControlName="comment"
              label="Comentario"
              labelPlacement="floating"
              placeholder="¡Muy buen servicio!"
              fill="outline"
              [autoGrow]="true"
              [counter]="true"
              maxlength="200"
              rows="5"
              helpText="Escribe un comentario sobre el trabajo realizado. Maximo 200 caracteres."
              errorText="Asegurate de usar al menos 10 caracteres."
            ></ion-textarea>
            <img [src]="reviewForm.get('photo_url')!.value" />
            <ion-input
              formControlName="photo_url"
              type="url"
              label="URL que contenga la imagen de la reseña"
              placeholder="https://www.example.com/image.jpg"
              fill="outline"
              labelPlacement="floating"
              helpText="URL de la imagen de la reseña. Puede ser una URL de una imagen en internet."
              errorText="URL invalida. Asegurate de que sea una URL valida."
            ></ion-input>
            <ion-button
              shape="round"
              expand="block"
              type="submit"
              [disabled]="!reviewForm.valid"
              >Enviar reseña</ion-button
            >
          </form>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  [isOpen]="showInfoModal"
  (willDismiss)="handleModalDismiss($event)"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.5, 0.75, 1]"
  [backdropDismiss]="true"
  [showBackdrop]="true"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detalles de reseña</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <img [src]="review!.photo_url" />
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Calificación</h2>
          </ion-label>
          <app-stars [rating]="review!.rating" [readonly]="true"></app-stars>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Comentario de {{ review!.reviewer.name }}</h2>
            <p>{{ review!.comment }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Fecha de creación</h2>
            <p>{{ review!.created_at | date : "dd/MM/yyyy" }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
