@if (!readonly) {

<form [formGroup]="form" (ngSubmit)="sendQuery()">
  <div>
    <ion-textarea
      formControlName="message"
      placeholder="Consulta"
      label="Escriba su consulta"
      labelPlacement="floating"
      [autoGrow]="true"
      [counter]="true"
      maxlength="500"
      rows="4"
      fill="outline"
      helpText="Máximo 500 caracteres"
      errorText="Este campo es requerido si desea enviar una consulta"
    >
    </ion-textarea>
    <ion-button
      type="submit"
      shape="round"
      expand="block"
      [disabled]="!form.valid"
    >
      Preguntar
    </ion-button>
  </div>
</form>
}

<br />

<h5>Preguntas al proveedor</h5>

<ion-list>
  @for (inquiry of inquiries; track inquiry.id) {
  <ion-item class="ion-no-padding">
    <ion-label>
      <p><strong>{{ inquiry.question }}</strong></p>
      @if(inquiry.answer) {
      <p>
        <ion-icon name="return-down-forward-outline"></ion-icon>
        {{ inquiry.answer }}
      </p>
      }
    <small class="ion-float-right">{{ inquiry.created_at | elapsed }}</small>
    </ion-label>
  </ion-item>
  } @empty {
  <ion-item>
    <ion-label>
      <p>No hay preguntas hechas por usuarios</p>
    </ion-label>
  </ion-item>
  }
</ion-list>
