<h5>Hace tu consulta</h5>

<form [formGroup]="form" (ngSubmit)="sendQuery()">
  <div>
    <ion-input
      formControlName="message"
      placeholder="Por favor escriba su consulta"
      label="Escriba su consulta"
      labelPlacement="floating"
    >
    </ion-input>
    <ion-button type="submit" color="secondary" shape="round" expand="block">
      Enviar
    </ion-button>
  </div>
</form>

<h5>Preguntas hechas por usuarios</h5>

<ion-list>
  <ion-item *ngFor="let inquiry of inquiries">
    <ion-label>
      <p>{{ inquiry.created_at | date : "dd/MM/yyyy" }}</p>
      <p>{{ inquiry.customer.name }} pregunto: {{ inquiry.question }}</p>
      @if(inquiry.answer) {
      <p>respuesta: {{ inquiry.answer }}</p>
      }
    </ion-label>
  </ion-item>
</ion-list>
