@if(loaded){
<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ changaOverview.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ changaOverview.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img [src]="changaOverview.photo_url" class="image-container"></ion-img>
  <div class="ion-padding">
    <h3>Acerca de esta Changa</h3>
    <p>{{ changaOverview.description }}</p>

    <hr />

    <p>Más sobre {{changaOverview.provider_summary.name}}</p>
    <!-- Provider Information -->
    <app-customer-overview
      [customerName]="changaOverview.provider_summary.name"
      [customerEmail]="changaOverview.provider_summary.email"
      [customerPhotoUrl]="changaOverview.provider_summary.photo_url"
    ></app-customer-overview>

    <hr />

    @for (topic of changaOverview.topics; track changaOverview.id) {
    <ion-chip
      color="warning"
      [routerLink]="['/search-results']"
      [queryParams]="{topics:[topic]}"
    >
      {{ topic }}
    </ion-chip>
    }

    <hr />

    @if(changaOverview.available) { @if(isProvider) {
    <ion-button
      shape="round"
      expand="block"
      color="warning"
      [routerLink]="['/edit-changa', changaOverview.id]"
    >
      Editar
    </ion-button>
    <ion-button
      shape="round"
      expand="block"
      color="danger"
      id="present-delete-alert"
    >
      Eliminar
    </ion-button>
    <ion-alert
    trigger="present-delete-alert"
    header="Confirmar acción"
    message="¿Estás seguro que deseas eliminar esta changa?"
    [buttons]="[
      {
        text: 'Cancelar',
        role: 'cancel',
        cssClass: 'secondary',
      },
      {
        text: 'Eliminar',
        handler: deleteButtonHandler,
      },
    ]"
  ></ion-alert>
    } @else {
    <ion-button
      shape="round"
      expand="block"
      color="warning"
      [routerLink]="['/checkout', changaOverview.id]"
    >
      Solicitar
    </ion-button>

    } } @else {
    <ion-button shape="round" expand="block" disabled>
      No disponible
    </ion-button>
    }
  </div>
</ion-content>
} @else {
<div class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
}
