<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    @if (userAuthenticated) {
    <ng-container>
      <app-customer-overview
        [customerName]="userAuthenticated.name"
        [customerEmail]="userAuthenticated.email"
        [customerPhotoUrl]="userAuthenticated.photo_url!"
      ></app-customer-overview>

      <ion-content class="ion-padding">
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          [routerLink]="['/hirings']"
          >Changas solicitadas</ion-button
        >
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          [routerLink]="['/create-changa']"
          >Crear changa</ion-button
        >
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          [routerLink]="['/edit-profile']"
          >Editar Perfil</ion-button
        >
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          (click)="signout()"
          >Cerrar sesion</ion-button
        >
      </ion-content>
    </ng-container>
    } @else {
    <ng-container>
      <ion-content class="ion-padding">
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          [routerLink]="['/login']"
          >Iniciar sesion</ion-button
        >
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          [routerLink]="['/create-changa']"
          >Crear changa</ion-button
        >
      </ion-content>
    </ng-container>

    }
  </ion-content>
</ion-menu>
