<ion-header [translucent]="true" class="ion-no-border" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

@if (currentCustomer) {
<ion-content [fullscreen]="true">
  <ion-card>
    @if(editForm.get('photo_url')?.value) {
      <img [src]="editForm.get('photo_url')?.value" />
    }
    <ion-card-content>
      <form [formGroup]="editForm" (ngSubmit)="updateChanges()">
          <ion-input
            formControlName="name"
            type="text"
            label="Nombre"
            [placeholder]="currentCustomer.name"
            fill="outline"
            labelPlacement="floating"
            [counter]="true"
            maxlength="20"
            errorText="Nombre invalido. No utilices simbolos, y asegurate de usar al menos 3 caracteres."
          ></ion-input>
          <ion-input
            formControlName="photo_url"
            type="url"
            label="URL para imagen de perfil"
            [placeholder]="currentCustomer.photo_url"
            fill="outline"
            labelPlacement="floating"
          ></ion-input>
        <hr />
        <ion-button type="submit" expand="block" shape="round" color="warning"
          >Guardar</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
}
