<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitar trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Solicitar trabajo</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(changaOverview()) {

  <ion-card>
    <img
      [src]="changaOverview()?.photoUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'"
      alt="Area a trabajar"
    />

    <ion-card-content>
      <ion-card-header>
        <ion-card-title>{{ changaOverview()?.title }}</ion-card-title>
        <ion-card-subtitle
          >{{ changaOverview()?.description }}</ion-card-subtitle
        >
        <ion-card-subtitle
          >Ofrecido por {{ changaOverview()?.providerSummary?.name
          }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-header>
        <ion-card-title>Detalles del trabajo</ion-card-title>
      </ion-card-header>

      <form [formGroup]="hireForm" (ngSubmit)="hireChanga()">
        <ion-list>
          @if(hireForm.get('work_area_photo_url')?.value) {
          <ion-item>
            <img [src]="hireForm.get('work_area_photo_url')!.value" />
          </ion-item>
          }

          <ion-item>
            <ion-input
              formControlName="work_area_photo_url"
              type="url"
              label="URL de la imagen del area a trabajar"
              placeholder="https://www.example.com/image.jpg"
              labelPlacement="floating"
              helpText="URL de la imagen del area a trabajar. Puede ser una URL de una imagen en internet."
              errorText="URL invalida. Asegurate de que sea una URL valida."
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea
              formControlName="work_details"
              type="text"
              label="Descripcion del area a trabajar"
              placeholder="La pared a pintar tiene tales dimensiones y esta en tal estado."
              labelPlacement="floating"
              [autoGrow]="true"
              [counter]="true"
              maxlength="200"
              helpText="Escribe una descripcion del area a trabajar. Maximo 200 caracteres."
              errorText="Descripcion invalida. Asegurate de usar al menos 10 caracteres."
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <br />
        <ion-button
          type="submit"
          expand="block"
          shape="round"
          color="warning"
          [disabled]="!hireForm.valid"
          >Solicitar changa</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
  } @else {
  <ion-card>
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La changa no esta disponible para ser solicitada</p>
      <br />
      <ion-button
        [routerLink]="['/home']"
        expand="block"
        shape="round"
        color="warning"
        >Volver al inicio</ion-button
      >
    </ion-card-content>
  </ion-card>
  }
</ion-content>
