<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles de Solicitud</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(loaded){
    <ion-img [src]="hiringDetails.changa_photo_url"></ion-img>
    <div class="ion-padding">
      <h3>{{ hiringDetails.changa_title }}</h3>
      <p>{{ hiringDetails.changa_description }}</p>
      <hr/>
      <small>{{ isProvider ? 'Persona interesada' : 'Ofrecido por' }}</small>
      <hr/>
      <app-customer-overview
        [customerName]="customerDetails.name"
        [customerEmail]="customerDetails.email"
        [customerPhotoUrl]="customerDetails.photo_url!"
      ></app-customer-overview>
      <br>
      <small>Fecha de solicitud: {{ hiringDetails.creation_date | date: 'd/M/yyyy HH:mm' }}</small>
      <br>
      <small>ID de solicitud: {{ hiringDetails.hiring_id }}</small>
      <br>
      <small>Estado de solicitud</small>
      <hr/>
      <app-transaction-status [status]="hiringDetails.status"></app-transaction-status>
    </div>

    <div class="ion-padding">
      <h5>Trabajo a realizar</h5>
      <p>{{ hiringDetails.work_details }}</p>      
      <ion-img [src]="hiringDetails.work_area_photo_url"></ion-img>
    </div>

    @if(canRespondToRequest()){
    <div class="ion-padding">
      <ion-button shape="round" expand="block" color="success" (click)="acceptRequest()">{{ isProvider ? 'Aceptar solicitud' : 'Aceptar condiciones' }}</ion-button>
      <ion-button shape="round" expand="block" color="danger" (click)="declineRequest()">{{ isProvider ? 'Rechazar solicitud' : 'Rechazar condiciones' }}</ion-button>
    </div>
    }
    
  } @else {
    <div class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  }
</ion-content>
