<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ loaded ? 'Solicitud #' + hiringDetails.id : 'Obteniendo
      informacion...' }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  @if(loaded) {

  <ion-card
    [routerLink]="['/changa-details', hiringDetails.changa_id]"
    [button]="true"
  >
    <ion-card-header>
      <ion-card-title>Detalles de changa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item class="ion-no-padding" [detail]="true" lines="none">
          <ion-thumbnail slot="start">
            <img [src]="hiringDetails.changa_photo_url" />
          </ion-thumbnail>
          <ion-label> {{ hiringDetails.changa_title }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-card class="ion-activatable ripple-parent rounded-rectangle">
    <ion-card-header>
      <ion-card-title>Detalles de solicitud</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-no-padding">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <h2>{{ isProvider ? 'Interesado/a' : 'Proveedor' }}</h2>
            </ion-row>
            <ion-row>
              <app-customer-overview
                [customerName]="customerDetails.name"
                [customerEmail]="customerDetails.email"
                [customerPhotoUrl]="customerDetails.photo_url!"
              ></app-customer-overview>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <h2>Fecha de solicitud</h2>
            <p>{{ hiringDetails.creation_date | date: 'd/M/yyyy HH:mm' }}</p>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <h2>ID de solicitud</h2>
            <p>{{ hiringDetails.id }}</p>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <h2>Estado de solicitud</h2>
            <app-transaction-status
              [status]="hiringDetails.status"
            ></app-transaction-status>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-card [button]="true" id="open-work-details-modal">
    <ion-card-header>
      <ion-card-title>Detalles del area a trabajar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item class="ion-no-padding" [detail]="true" lines="none">
          <ion-thumbnail slot="start">
            <img [src]="hiringDetails.work_area_details.photo_url" />
          </ion-thumbnail>
          <ion-label class="ion-text-nowrap">
            {{ hiringDetails.work_area_details.description }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-modal
    #workDetailsModal
    trigger="open-work-details-modal"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.5, 0.75]"
    [backdropDismiss]="true"
    [showBackdrop]="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles del area a trabajar</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <img [src]="hiringDetails.work_area_details.photo_url" />
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Descripción</h2>
              <p>{{ hiringDetails.work_area_details.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  @if (hiringDetails.provider_proposal) {
  <ion-card [button]="true" id="open-provider-proposal-modal">
    <ion-card-header>
      <ion-card-title>
        {{ isProvider ? 'Respuesta enviada' : 'Respuesta del proveedor' }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-no-padding">
          <ion-label class="ion-text-nowrap">
            <h2>Respuesta</h2>
            <p>{{ hiringDetails.provider_proposal.message }}</p>
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <h2>Monto del trabajo</h2>
            <p>$ {{ hiringDetails.provider_proposal.price }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-modal
    #providerProposalModal
    trigger="open-provider-proposal-modal"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.5, 0.75, 1]"
    [backdropDismiss]="true"
    [showBackdrop]="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title
            >{{ isProvider ? 'Respuesta enviada a interesado' : 'Respuesta del
            proveedor' }}</ion-title
          >
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <h2>Respuesta</h2>
                  <p>{{ hiringDetails.provider_proposal.message }}</p>
                </ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <h2>Monto del trabajo</h2>
                  <p>$ {{ hiringDetails.provider_proposal.price }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  } @if (isProviderResponding()) {
  <div class="ion-padding">
    <ion-button id="open-reply-requester-modal" expand="full" shape="round">
      Responder a solicitud
    </ion-button>
  </div>

  <ion-modal
    #replyToRequesterModal
    trigger="open-reply-requester-modal"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.5, 0.75, 1]"
    [backdropDismiss]="true"
    [showBackdrop]="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Responder a solicitud</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-card>
          <ion-card-content>
            <ion-textarea
              label="Respuesta al interesado"
              labelPlacement="floating"
              fill="outline"
              placeholder="Escribe tu respuesta"
              [(ngModel)]="responseMessage"
              [autoGrow]="true"
              rows="5"
            ></ion-textarea>
            <br />
            <ion-input
              label="Monto del trabajo"
              labelPlacement="floating"
              fill="outline"
              type="number"
              [(ngModel)]="responsePrice"
            ></ion-input>
            <br />
            <ion-button
              shape="round"
              expand="block"
              (click)="sendConditionsToRequester()"
              disabled="{{ !responseMessage || !responsePrice }}"
              >Enviar condiciones</ion-button
            >
            <ion-button
              shape="round"
              expand="block"
              color="danger"
              (click)="declineRequest()"
              >Rechazar solicitud</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  } @if (isRequesterResponding()) {
  <div class="ion-padding">
    <ion-button shape="round" expand="block" (click)="acceptRequest()"
      >Aceptar condiciones</ion-button
    >
    <ion-button
      shape="round"
      expand="block"
      color="danger"
      (click)="declineRequest()"
      >Rechazar condiciones</ion-button
    >
  </div>
  } @if (canShowReview()) {
  <app-review
    [changaId]="hiringDetails.changa_id"
    [reviewerId]="hiringDetails.customer_id"
    [readonly]="isProvider"
  ></app-review>
  } } @else {
  <div class="center-container">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
