<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles de solicitud</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(loaded) {
  <ion-card>
    <ion-img [src]="hiringDetails.changa_photo_url"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ hiringDetails.changa_title }}</ion-card-title>
      <ion-card-subtitle
        >{{ hiringDetails.creation_date | date }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p>{{ hiringDetails.changa_description }}</p>
      <hr />
      <app-transaction-status
        [status]="hiringDetails.status"
      ></app-transaction-status>
    </ion-card-content>
    <ion-card-header>
      @if(isProvider) {
        <ion-card-title>Solicitante de esta changa</ion-card-title>
      } @else {
        <ion-card-title>Proveedor de esta changa</ion-card-title>
      }
    </ion-card-header>
    <app-customer-overview
      [customerName]="customerDetails.name"
      [customerEmail]="customerDetails.email"
      [customerPhotoUrl]="customerDetails.photoUrl!"
    ></app-customer-overview>
    <ion-card-header>
      <ion-card-title>Detalles del area a trabajar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Area a trabajar</h3>
      <br />
      <ion-img [src]="hiringDetails.work_area_photo_url"></ion-img>
      <br />
      <h3>Trabajo a realizar</h3>
      <br />
      <p>{{ hiringDetails.work_details }}</p>
      <hr />

      @if(canRespondToRequest()) {
      <ion-button
        shape="round"
        expand="block"
        color="warning"
        (click)="acceptRequest()"
        >Aceptar solicitud</ion-button
      >
      <ion-button
        shape="round"
        expand="block"
        color="danger"
        (click)="declineRequest()"
        >Rechazar solicitud</ion-button
      >
      }
    </ion-card-content>
  </ion-card>
  }
</ion-content>
